body {
  font-family: Arial, Helvetica, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.1px;
}

main,
header {
  color: white;
}

/* HEADER */
.background-header {
  background: url(./images/background3.jpg) no-repeat;
  /* background-position: 0% 0%; */
  background-size: cover;
  width: 100%;
  height: 90vh;
  position: relative;
  z-index: 0;
}

.blur {
  backdrop-filter: blur(0.3px);
  position: absolute;
  width: 100%;
  height: 90vh;
  z-index: -1;
}

.black-background {
  /* background-color: black;
  opacity: 0.6; */
  position: absolute;
  width: 100%;
  height: 90vh;
  z-index: -1;
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%);
}

.flex-content {
  width: 100%;
  padding: 30px 50px 0px 50px;
  display: flex;
  height: 69px;
}

.flex-content .flex-left {
  width: 40%;
  display: flex;
  justify-content: left;
  align-items: center;
}

.flex-content .flex-right {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: right;
  color: white;
}

.flex-content .flex-right a {
  color: white;
  background-color: #e50914;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border-radius: 3px;
  width: 85px;
  height: 36px;
  text-decoration: none;
}

.flex-content .flex-right a:hover {
  background-color: #ff000d;
}

.flex-content .flex-right-lang {
  padding-right: 40px;
  position: relative;
}

.flex-content .flex-right-lang select {
  width: 120px;
  height: 36px;
  background-color: transparent;
  color: white;
  font-size: 0.9rem;
  padding: 0.5rem 0 0.5rem 1.5rem;
  border-radius: 3px;
}

.flex-content .flex-right-lang select:active {
  border: 2px solid black;
}

.flex-content .flex-right-lang option {
  background-color: grey;
}

.flex-content .flex-right-lang img {
  width: 17px;
  position: absolute;
  top: 28%;
  left: 4%;
}

/* HEADER CONTENT */
.main-content {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: calc(90vh - 69px);
}

.main-content .content-title h1 {
  font-size: 3rem;
}

.main-content .content-title h2 {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 1rem;
}

.main-content .content-title h3 {
  margin-top: -10px;
  font-size: 1.2rem;
  font-weight: 400;
  margin: 1rem;
}

.content-subtitle {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.content-subtitle .content-subtitle-items {
  display: flex;
}

.btn-arrow {
  padding-left: 10px;
}

.content-subtitle .content-subtitle-items input {
  min-width: 450px;
  border: solid 1px #8c8c8c;
  font-size: 16px;
  padding: 10px;
  height: 50px;
  border-radius: 3px;
}

.content-subtitle .content-subtitle-items a {
  background-color: #e50914;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  min-width: 200px;
  font-size: 1.6rem;
  height: 50px;
  border-left: 1px solid #333;
  border-radius: 3px;
}

.content-subtitle .content-subtitle-items a:hover {
  background-color: #ff1622;
}

.all-block {
  background-color: black;
  width: 100%;
  height: 500px;
  color: white;
  padding: 70px 45px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 8px solid #222;
}

/* FIRST BLOCK */
.first-block__container .first-block__text {
  line-height: 1.1;
  text-align: left;
  width: 50%;
}

.first-block__container .first-block__text h1 {
  font-size: 3rem;
  margin: 0 10% 3% 20%;
}

.first-block__container .first-block__text p {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0 10% 0 20%;
  line-height: 1.1;
}

.first-block__container .first-block__animation .tv-image {
  position: relative;
  z-index: 0;
}

.first-block__container .first-block__animation .tv-image img {
  width: 100%;
  height: 100%;
}

.first-block__container .first-block__animation .tv-video {
  position: absolute;
  z-index: -1;
  right: 13%;
  top: 20%;
  max-width: 74%;
  max-height: 74%;
}

.first-block__container .first-block__animation .tv-image video {
  width: 100%;
  height: 100%;
}

/* SECOND BLOCK */
.second-block__container .second-block__picture {
  position: relative;
}

.second-block__container .second-block__picture img {
  width: 100%;
  height: 100%;
}

.second-block__container .second-block__picture .loading__container {
  position: absolute;
  top: 72%;
  left: 19%;
  display: flex;
  align-items: center;
  width: 60%;
  background-color: #000;
  padding: 0.2rem 0.6rem;
  box-shadow: 0 0 2rem 0 #000;
  border-radius: 0.7rem;
  justify-content: space-between;
  border: 2px solid rgba(255, 255, 255, 0.25);
}

.second-block__container .second-block__picture .loading__container .film {
  width: 15%;
}

.second-block__container .second-block__picture .loading__container h4 {
  width: 60%;
  font-size: 1rem;
}

.second-block__container .second-block__picture .loading__container span {
  font-size: 0.9rem;
  color: #0071eb;
  font-weight: 400;
}

.second-block__container .second-block__picture .loading__container .gif {
  width: 15%;
}

.second-block__container .second-block__text {
  width: 50%;
}

.second-block__container .second-block__text h1 {
  font-size: 3rem;
  margin: 0 10% 3% 20%;
}

.second-block__container .second-block__text p {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0 10% 0 20%;
  line-height: 1.1;
}

/* THIRD BLOCK */
.third-block__container .third-block__text {
  line-height: 1.1;
  text-align: left;
  width: 50%;
}

.third-block__container .third-block__text h1 {
  font-size: 3rem;
  margin: 0 10% 3% 20%;
}

.third-block__container .third-block__text p {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0 10% 0 20%;
  line-height: 1.1;
}

.third-block__container .third-block__animation .mac-image {
  position: relative;
  z-index: 0;
}

.third-block__container .third-block__animation .mac-image img {
  width: 100%;
  height: 100%;
}

.third-block__container .third-block__animation .mac-video {
  position: absolute;
  z-index: -1;
  right: 20%;
  top: 10%;
  max-width: 63%;
  max-height: 64%;
}

.third-block__container .third-block__animation .mac-image video {
  width: 100%;
  height: 100%;
}

/* FOURTH BLOCK */
.fourth-block__container .fourth-block__picture img {
  width: 100%;
  height: 100%;
}

.fourth-block__container .fourth-block__text {
  width: 50%;
}

.fourth-block__container .fourth-block__text h1 {
  font-size: 3rem;
  margin: 0 10% 3% 20%;
}

.fourth-block__container .fourth-block__text p {
  font-size: 1.6rem;
  font-weight: 400;
  margin: 0 10% 0 20%;
  line-height: 1.1;
}

/* FIFTH BLOCK */
.fifth-block {
  height: 100%;
  text-align: center;
}

.fifth-block .faq-text h1 {
  font-size: 3rem;
  line-height: 1.1;
  margin-bottom: 20px;
}

.fifth-block .faq-list {
  list-style-type: none;
}

.fifth-block .faq-list .faq-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  margin-bottom: 10px;
  font-weight: 400;
  width: 100%;
  border: none;
  background: #303030;
  color: white;
  font-size: 1.6rem;
  cursor: pointer;
  height: 80px;
}

.fifth-block .faq-list li:last-child button:last-child {
  margin-bottom: 0;
}

.fifth-block .faq-list span {
  font-size: 3rem;
  font-weight: 100;
  font-family: 'Courier New', Courier, monospace;
}

.fifth-block .faq-text p {
  font-size: 1.3rem;
  padding: 20px 20px;
}

/* FOOTER */
.footer__wrapper {
  background-color: #000;
  border-top: 8px solid #222;
  font-size: 14px;
}

.footer__container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 45px;
  background-color: #000;
  color: #757575;
}

.footer__container p {
  padding-bottom: 20px;
  font-size: 1rem;
}

.footer__list {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer__list a {
  padding: 10px 10px 10px 0;
}

.footer__container a {
  text-decoration: none;
  color: #757575;
}

.footer__container a:hover {
  text-decoration: underline;
}

.list-column {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.footer__lang {
  margin-top: 20px;
}

.footer__lang select {
  background-color: transparent;
  font-size: 1rem;
  padding: 1rem 0 1rem 1.5rem;
  border-radius: 3px;
  border: 1px solid #333;
  color: #999;
  font-weight: 600;
  background-image: url(./images/globe-svg-bottom.svg);
  background-repeat: no-repeat;
  background-position: 5%;
}

.footer__lang option {
  background-color: #000;

}

.footer__lang p {
  padding: 20px 0px 0px 0px;
}

/* MEDIA */
/* OVER 1450px */
@media only screen and (min-width: 1450px) {
  .background-header {
    height: 70vh;
  }

  .blur {
    height: 70vh;
  }

  .black-background {
    height: 70vh;
  }

  .main-content {
    height: calc(70vh - 69px);
  }

  .flex-content .flex-left svg {
    width: 10rem;
    height: 3rem;
  }

  .main-content .content-title h1 {
    font-size: 4rem;
  }

  .content-subtitle .content-subtitle-items input {
    min-width: 500px;
    height: 70px;
  }

  .content-subtitle .content-subtitle-items a {
    font-size: 1.8rem;
    height: 70px;
  }
}

/* MOBILE AND TABLET */
@media only screen and (max-width:750px) {

  /* HEADER*/
  .flex-content {
    padding: 20px 10px;
  }

  .flex-content .flex-right-lang {
    padding-right: 10px;
  }

  .flex-content .flex-right a {
    width: calc(85px / 1.1);
    height: calc(36px / 1.1);
    font-size: 0.9rem;
  }

  .flex-content .flex-right-lang select {
    width: calc(120px / 1.1);
    height: calc(36px / 1.1);
    font-size: 0.9rem;
    padding: 0.4rem 1.2rem;
  }

  .flex-content .flex-left svg {
    width: 6rem;
  }

  .flex-content .flex-right img {
    width: 15px;
  }

  /* HEADER CONTENT */
  .background-header {
    height: 75vh;
  }

  .blur {
    height: 75vh;
  }

  .black-background {
    height: 75vh;
  }

  .main-content {
    height: calc(75vh - 69px);
  }

  .main-content .content-title h1 {
    font-size: 1.8rem;
  }

  .main-content .content-title h2 {
    font-size: 1rem;
  }

  .main-content .content-title h3 {
    font-size: 1rem;
    padding: 0 8%;
  }

  .content-subtitle .content-subtitle-items input {
    margin-bottom: 16px;
    font-size: 14px;
    min-width: 300px;
    height: 40px;
  }

  .content-subtitle .content-subtitle-items a {
    min-width: 130px;
    font-size: 1rem;
    height: 40px;
    border-left: none;
  }

  /* FIRST BLOCK */
  .first-block__container {
    flex-direction: column;
    height: 100%;
    padding: 70px 25px;
  }

  .first-block__container .first-block__text h1 {
    font-size: 1.8rem;
    margin: 0 0 3% 0;
  }

  .first-block__container .first-block__text p {
    font-size: 1rem;
    margin: 0 0 3% 0;
  }

  .first-block__container .first-block__text {
    text-align: center;
    width: 100%;
    height: 100%;
  }

  /* SECOND BLOCK */
  .second-block__container {
    flex-direction: column-reverse;
    height: 100%;
    padding: 70px 25px;
  }

  .second-block__container .second-block__text {
    text-align: center;
    width: 100%;
    height: 100%;
  }

  .second-block__container .second-block__text h1 {
    font-size: 1.8rem;
    margin: 0 0 3% 0;
  }

  .second-block__container .second-block__text p {
    font-size: 1rem;
    margin: 0 0 3% 0;
  }

  .second-block__container .second-block__picture .loading__container h4 {
    font-size: 0.7rem;
  }

  .second-block__container .second-block__picture .loading__container h4 span {
    font-size: 0.6rem;
  }

  /* THIRD BLOCK */
  .third-block__container {
    flex-direction: column;
    height: 100%;
    padding: 70px 25px;
  }

  .third-block__container .third-block__text h1 {
    font-size: 1.8rem;
    margin: 0 0 3% 0;
  }

  .third-block__container .third-block__text p {
    font-size: 1rem;
    margin: 0 0 3% 0;
  }

  .third-block__container .third-block__text {
    text-align: center;
    width: 100%;
    height: 100%;
  }

  /* FOURTH BLOCK */
  .fourth-block__container {
    flex-direction: column-reverse;
    height: 100%;
    padding: 70px 25px;
  }

  .fourth-block__container .fourth-block__text {
    text-align: center;
    width: 100%;
    height: 100%;
  }

  .fourth-block__container .fourth-block__text h1 {
    font-size: 1.8rem;
    margin: 0 0 3% 0;
  }

  .fourth-block__container .fourth-block__text p {
    font-size: 1rem;
    margin: 0 0 3% 0;
    line-height: 1.1;
  }

  /* FIFTH BLOCK */
  .fifth-block .faq-text h1 {
    font-size: 1.8rem;
  }

  .fifth-block .faq-list .faq-button {
    font-size: 1rem;
    height: 60px;
    padding: 0 0.5rem;
  }

  .fifth-block .faq-list span {
    font-size: 1.8rem;
  }

  .fifth-block .faq-text p {
    font-size: 1rem;
  }

  .footer__wrapper {
    font-size: 13px;
  }
}

@media only screen and (max-width:950px) {
  .footer__container {
    width: 100%;
    margin: 0;
  }

  .footer__list {
    flex-wrap: wrap;
  }

  .list-column {
    width: 50%;
  }
}